<?xml version="1.0"?>
<configuration>
  <appSettings configSource="XmlConfig\Config.xml"/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 错误页面404 -->
    <!--
    <customErrors mode="On" defaultRedirect="~/ErrorPage/404.aspx" />
    -->
    <!-- Session过期时间 -->
    <sessionState mode="InProc" timeout="180"/>
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>