<?xml version="1.0"?>
<configuration>
  <appSettings configSource="XmlConfig\Config.xml">
  </appSettings>
  <system.web>
    <!-- 错误页面404 -->
    <!--
    <customErrors mode="On" defaultRedirect="~/ErrorPage/404.aspx" />
    -->
    <!-- Session过期时间 -->
    <sessionState mode="InProc" timeout="180" />
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>