<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库软件类型：Oracle,SQLServer,MySql-->
    <add key="ComponentDbType" value="SQLServer" />
    <!-- 连接字符串是否加密-->
    <add key="ConStringEncrypt" value="false" />
    <!-- 当前数据库名称,如果有多个数据库用【;】隔开：A;B;C;D;-->
    <add key="DBName" value="BPMS_DB" />
    <!-- SqlServer连接字符串:Server=服务器地址;Database=库名;Uid=用户;Pwd=密码-->
    <add key="SqlServer_BPMS_DB" value="Server=.;Database=BPMS_DB;Uid=sa;Pwd=qwertyuiop" />
    <!-- Oracle连接字符串:Data Source=数据库;User ID=用户;Uid=用户;Password=密码-->
    <add key="Oracle_BPMS_DB" value="Data Source=XE;User ID=learun;Password=qwertyuiop;" />
    <!-- MySql连接字符串:server=服务器地址; user id=用户; password=密码; database=库名-->
    <add key="MySql_BPMS_DB" value="server=192.168.0.110;user id=root;password=qwertyuiop;database=BPMS_DB;" />
    <!-- 是否写日志-->
    <add key="LogIsWrite" value="true" />
    <!-- 系统日志保存路径-->
    <add key="LogFilePath" value="D://BPMS_Log" />
  </appSettings>
  <system.web>
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>