<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库软件类型：Oracle,SQLServer,MySql-->
    <add key="ComponentDbType" value="SQLServer" />
    <!-- 连接字符串是否加密-->
    <add key="ConStringEncrypt" value="false" />
    <!-- 当前数据库名称,如果有多个数据库用【;】隔开：A;B;C;D;-->
    <add key="DBName" value="BPMS" />
    <!-- SqlServer连接字符串:Server=服务器地址;Database=库名;Uid=用户;Pwd=密码-->
    <add key="SqlServer_BPMS" value="Server=.;Database=BPMS;Uid=sa;Pwd=qwertyuiop" />
    <!-- Oracle连接字符串:Data Source=数据库;User ID=用户;Uid=用户;Password=密码-->
    <add key="Oracle_BPMS" value="Data Source=XE;User ID=learun;Password=qwertyuiop;" />
    <!-- MySql连接字符串:server=服务器地址; user id=用户; password=密码; database=库名-->
    <add key="MySql_BPMS" value="server=192.168.0.110;user id=root;password=qwertyuiop;database=BPMS_DB;" />

    <!-- 是否写日志-->
    <add key="LogIsWrite" value="true" />
    <!-- 系统日志保存路径-->
    <add key="LogFilePath" value="D://BPMS_Log" />
    <!-- 是否开启接口限制 ,有效用户可以访问接口-->
    <add key="CheckInterface" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFService.Service1Behaviors">
          <serviceDebug/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basic" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="WCFService.Service1Behaviors"
        name="BPMS.WCFLibrary.WCFService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration=""
          contract="BPMS.WCFLibrary.IWCFService" />
      </service>
    </services>
  </system.serviceModel>



</configuration>