<?xml version="1.0"?>
<configuration>
  <appSettings configSource="XmlConfig\Config.xml"/>
  <system.web>
    <!-- Session过期时间 -->
    <sessionState mode="InProc" timeout="180"/>
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
</configuration>